@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-theme-Black text-foreground;
  }
  /* #region  /**=========== Typography =========== */
  h1,
  .h1 {
    @apply text-[1.5rem] font-bold md:text-[2rem] font-barlow;
  }

  h2,
  .h2-light {
    @apply text-[1.125rem] font-normal md:text-[1.5rem] font-barlow;
  }

  h2,
  .h2 {
    @apply text-[1.25rem] font-medium md:text-[1.5rem] font-barlow;
  }

  h3,
  .h3 {
    @apply text-[0.9375rem] font-medium md:text-[1.125rem] font-barlow;
  }

  body,
  .p {
    @apply text-[0.8125rem] font-normal md:text-[0.9375rem] font-montserrat;
  }
  /* #endregion  /**======== Typography =========== */
  .layout {
    @apply xl:max-w-[1440px] mx-auto;
  }
}

.buttonTest {
  color: white;
  background-color: darkgray;
  padding: 10px;
  border-radius: 10px;
  transition: all ease 1s;
  border-color: aqua;
  border-width: 5px;
}

.buttonTest:hover {
  transform: translatey(-10px);
}

.animate {
  animation-duration: 1s;
  animation-fill-mode: both;
}

.animate.animation--infite {
  animation-iteration-count: infinite;
}

.animate.animation--delay {
  animation-delay: 1s;
}

.animate.animation--slow {
  animation-duration: 3s;
}

.animate.animation--fast {
  animation-duration: 0.5s;
}

@keyframes slideInLeft {
  from {
    transform: translateX(-300px);
  }

  to {
    transform: translateX(0px);
  }
}

.slideInLeft {
  animation-name: slideInLeft;
  animation-timing-function: ease;
  /* animation-name, duration, animation-timg, delay, iteation, direction, fill-mode */
}

@keyframes Rotate {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
}

.Rotate {
  animation-name: Rotate;
  animation-timing-function: linear;
  transform-origin: center;
  /* animation-name, duration, animation-timg, delay, iteation, direction, fill-mode */
}

/* Loading animation attmpt */
@keyframes animationload1 {
  0%,
  100% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-10px);
  }
}

@keyframes animationload1_Scale {
  0%,
  100% {
    transform: scale(10%);
  }

  50% {
    transform: translateY(100%);
  }
}

.loader span {
  background: var(--c);
  width: 15px;
  height: 15px;

  animation-name: animationload1;
  animation-duration: 3s;
  animation-delay: calc(var(--i) * 0.4s);
  animation-iteration-count: infinite;
  border-radius: 100%;
}

.loader span::before {
  content: "";
  background: #e2e6ff;
  width: 15px;
  height: 5px;
  position: absolute;
  opacity: 40%;
  border-radius: 100%;
  top: 20px;

  animation-name: animationload1_Scale;
  animation-duration: 3s;
  animation-delay: calc(var(--i) * 0.4s);
  animation-iteration-count: infinite;
  animation-fill-mode: backwards;
}

@keyframes Planetary_Rotation {
  from {
    transform: rotate(calc(0deg * var(--i2)));
  }

  to {
    transform: rotate(calc(360deg * var(--i2)));
  }
}

.loader2 {
  border-radius: 100%;
  border-color: #e2e6ff;
}

.loader2 span {
  width: 50px;

  position: absolute;
  border-radius: 100%;
  transform: rotate(calc(90deg * var(--i2)));
  animation-name: Planetary_Rotation;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
}

.loader2 span::before {
  content: "";
  background: var(--c2);
  width: 15px;
  height: 15px;

  position: absolute;
  border-radius: 100%;
}

/* Animation 3 */
@keyframes Planetary_Rotation2 {
  from {
    transform: rotate(calc(0deg * var(--i3)));
  }

  to {
    transform: rotate(calc(360deg * var(--i3)));
  }
}

.loader3 {
  border-radius: 100%;
  border-color: #e2e6ff;
}

.loader3 span {
  width: 50px;

  position: absolute;
  border-radius: 100%;
  /* transform: rotate(calc(90deg * var(--i3))); */
  animation-name: Planetary_Rotation2;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
  animation-timing-function: linear;
}

.loader3 span::before {
  content: "";
  background: var(--c3);
  width: 15px;
  height: 15px;

  position: absolute;
  border-radius: 100%;
}

/*3D world loading animations*/
@keyframes threeDAnimation {
  0%,
  100% {
    transform: translateZ(-450px) translateX(0px);
  }

  50% {
    transform: translateZ(30px) translateX(50px);
  }

  70% {
    transform: translateZ(-250px);
  }
}

.loader4 {
  perspective: 1000px; /* Adding perspective to the parent container */
}

.loader4 span {
  background: var(--c4);
  width: 15px;
  height: 15px;
  position: relative;
  border-radius: 100%;

  animation-name: threeDAnimation;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-delay: calc(var(--i4) * 0.5s);
}

/* Attempt2 */
@keyframes Planet1 {
  0%,
  100% {
    transform: translateZ(-100px) translateX(0px);
  }
  25% {
    transform: translateZ(400px) translateX(20px);
  }

  50% {
    transform: translateZ(-100px) translateX(40px);
  }
  75% {
    transform: translateZ(-500px) translateX(20px);
  }
}

@keyframes Planet4 {
  0%,
  100% {
    transform: translateZ(-100px) translateX(0px);
  }
  25% {
    transform: translateZ(-700px) translateX(-40px);
  }

  50% {
    transform: translateZ(-100px) translateX(-80px);
  }
  75% {
    transform: translateZ(500px) translateX(-40px);
  }
}

@keyframes Planet3 {
  0%,
  100% {
    transform: translateZ(300px) translateX(0px);
  }
  15% {
    transform: translateZ(-100px) translateX(25px);
  }

  50% {
    transform: translateZ(-400px) translateX(-60px);
  }
  90% {
    transform: translateZ(500px) translateX(-10px);
  }
}

@keyframes Planet2 {
  0%,
  100% {
    transform: translateZ(300px) translateX(0px);
  }
  10% {
    transform: translateZ(500px) translateX(10px);
  }

  40% {
    transform: translateZ(-100px) translateX(50px);
  }
  60% {
    transform: translateZ(-500px) translateX(-5px);
  }

  70% {
    transform: translateZ(-100px) translateX(-20px);
  }

  90% {
    transform: translateZ(200px) translateX(-10px);
  }
}

.loader5 {
  perspective: 1000px; /* Adding perspective to the parent container */
}

.loader5 span {
  background: var(--c5);
  width: 15px;
  height: 15px;
  position: relative;
  border-radius: 100%;

  animation-name: theeDAnimation;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-delay: calc(var(--i4) * 0.5s);
}

/* .loader5 span.planet1{
animation-name: Planet1;
animation-duration: 5s;
animation-timing-function: linear;
animation-fill-mode: both;
animation-iteration-count: infinite;
} */

/* .loader5 span.planet2{
  
animation-name: Planet2;
animation-duration: 5s;
animation-timing-function: linear;
animation-fill-mode: both;
animation-iteration-count: infinite;
}

.loader5 span.planet3{
  
  animation-name: Planet3;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
  animation-delay: 0.2s;
  } */

.loader5 span.planet4 {
  z-index: -10;
  animation-name: Planet4;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
}

/* Last attempt */
@keyframes TDAnimation {
  from {
    transform: rotateY(calc(var(--i6) * 90deg));
  }

  to {
    transform: rotateY(calc(var()));
  }
}

.loader6 span {
  background: var(--c6);
  width: 15px;
  height: 15px;
  position: relative;
  border-radius: 100%;
}

@keyframes PopUpAnimation {
  0% {
    transform: scale(0%);
  }

  90% {
    transform: scale(103%);
  }

  100% {
    transform: scale(100%);
  }
}

.PopUpAnimation {
  /* background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 15p 35px rgba(0, 0, 0, 0.05);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0, 25);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5); */

  overflow: hidden;
  animation: PopUpAnimation;
  animation-duration: 0.3s;
  animation-timing-function: ease;
  transition: all;
  animation-fill-mode: backwards;
}

@keyframes CharacterAnimation {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-50px);
  }

  100% {
    transform: translateY(0px);
  }
}

.CharacterAnimation div {
  animation-name: CharacterAnimation;
  animation-duration: 4s;
  animation-delay: calc(0.5s * var(--c));
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
}

@keyframes sunGlowAnimation{
  0%{
    filter: blur(50px);
  }

  100%{
    filter: blur(250px);

  }
}

.SunGlow{
  background: rgb(84, 18, 110);
  animation-name: sunGlowAnimation;
  animation-duration: 3s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}

@keyframes portal1{
  0%{
    opacity: 0%;
    transform: translateX(-20px);
  }



  100%{
    opacity: 100%;
    transform: translateX(0px);
  }
}



@keyframes portal2{
  0%{
    opacity: 0%;
    transform: translateX(20px);
  }

  

  100%{
    opacity: 100%;
    transform: translateX(0px);
  }
}

.portal1{
  position: absolute;
  animation-name: portal1;
  animation-duration: 1s;
  animation-delay: 0.5s;
  animation-fill-mode: backwards;

}

.portal2{
  position: absolute;
  animation-name: portal2;
  animation-duration: 1s;
  animation-delay: 0.5s;
  animation-fill-mode: backwards;
}

@keyframes horizon1{
  0%{
    opacity: 0%;
    transform: translateY(20px);
  }


  100%{
    opacity: 100%;
    transform: translateY(0px);
  }
}

.horizon1{
  animation-name: horizon1;
  animation-duration: 1s;
  animation-delay: 1.5s;
  animation-fill-mode: backwards;
}

@keyframes horizon2{
  0%{
    opacity: 0%;
    transform: translateY(-20px);
  }


  100%{
    opacity: 100%;
    transform: translateY(0px);
  }
}

.horizon2{
  animation-name: horizon2;
  animation-duration: 1s;
  animation-delay: 1.5s;
  animation-fill-mode: backwards;
}

@keyframes horizon2{
  0%{
    opacity: 0%;
    transform: translateY(-20px);
  }


  100%{
    opacity: 100%;
    transform: translateY(0px);
  }
}

.horizon2{
  animation-name: horizon2;
  animation-duration: 1s;
  animation-delay: 1.5s;
  animation-fill-mode: backwards;
}

@keyframes horizon3{
  0%{
    opacity: 0%;
    transform: translateY(20px);
  }

  

  100%{
    opacity: 100%;
    transform: translateY(0px);
  }
}

.horizon3{
  animation-name: horizon3;
  animation-duration: 1s;
  animation-delay: 1.5s;
  animation-fill-mode: backwards;
}

@keyframes ActualPortal{
  0%{
opacity: 0%;
transform: scale(1);
  } 
   50%{
    opacity: 70%;
    transform: scale(1);

  }

  100%{
    transform: scale(0);
  }
}



.ActualPortal{
  animation-name: ActualPortal;
  animation-duration: 2.2s;
  animation-delay: 2s;
  animation-fill-mode: both;
}


@keyframes swirl{
  0%{
    opacity: 100%;
    transform:  scale(1);

      } 
       100%{
        opacity: 0%;
        transform:  scale(0);

      }
}

.swirl{
  animation-name: swirl;
  animation-duration: 1s;
  animation-delay: 3s;
  animation-fill-mode: forwards;
}


@keyframes popAnimation{
  0%, 100%{
    transform: scale(0);
  }

  50%{
    transform: scale(1);

  }
}

.popAnimation{
  animation-name: popAnimation;
  animation-duration: 0.7s;
  animation-delay: 3.4s;
  animation-fill-mode: both;
}

@keyframes joey{
  0%, 100%{
    transform: translateY(-20px);
  }

  50%{
    transform: translateY(0px);

  }

}

.joey{
  animation-name: joey;
  animation-duration: 4s;
  animation-fill-mode: backwards;
  animation-iteration-count: infinite;
  animation-timing-function: linear;

}


@keyframes wholeScene{
  0%{
    opacity: 100%;
    z-index: 2;
  }

  100%{
    opacity: 0%;
    z-index: -1;

  }
}

.wholeScene{
  animation-name: wholeScene;
  animation-duration: 1s;
  animation-delay: 4s;
  animation-fill-mode: both;
}

@keyframes john{
  0%, 100%{
    transform: translateX(-20px);
  }

  50%{
    transform: translateY(0px);

  }

}

.john{
  animation-name: john;
  animation-duration: 4s;

  animation-fill-mode: backwards;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes fadeIn{
  0%{
    opacity: 0%;
  }

  100%{
    opacity: 100%;

  }
}

.fadeIn{
  animation-name: fadeIn;
  animation-duration: 3s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}

@keyframes whiteOut{
  0%{
    width: 0%;
    height: 0vh;
    border-radius: 100%;
  }

  100%{
    width: 100%;
    height: 100vh;
    border-radius: 0%;

  }
}

.whiteOut{
  animation-name: whiteOut;
  animation-duration: .5s;
  animation-delay: 3.9s;
  animation-timing-function: ease;
  animation-fill-mode: both;
}



